<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student | Home</title>
</head>
<body>
<h1>Student Personal Info</h1><hr><br><br><br>
<table align ="center">
        <tr>
            <th>First Name</th>
            <td>{{ context.FirstName }}</td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td>{{ context.LastName }}</td>
        </tr>
        <tr>
            <th>DOB</th>
            <td>{{ context.DOB }}</td>
        </tr>
        <tr>
            <th>Sex</th>
            <td>{{ context.Sex }}</td>
        </tr>
        <tr>
            <th>Contact</th>
            <td>{{ context.Contact }}</td>
        </tr>
        <tr>
            <th>E-mail</th>
            <td>{{ context.EMail }}</td>
        </tr>
        <tr>
            <th>Blood Group</th>
            <td>{{ context.BloodGroup }}</td>
        </tr>
            <th>Address</th>
            <td>{{ context.AddressLine1 }}, {{ context.AddressLine2 }}, {{ context.AddressLine3 }}</td>
        </tr>
    </table>
<hr>
<table cellpadding="10">

</table>

</body>
</html>