<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload paper</title>
</head>
<body>
<h1>Upload paper</h1>
<hr>
<table>
    <tr><th>Roll Number</th><th>Name</th><th></th></tr>
{% for i, j in context %}
    <tr>
        <td>{{ i.RollNo }}</td>
        <td>{{ i.Index.FirstName }}</td>
        <td>
            <a href="/teacher/subjective/{{ index }}/viewmarks/{{ class_section }}/{{ paperid }}/{{ i.RegistrationNo }}">View Marks</a>

        </td>
    </tr>

{% endfor %}
</table>
</body>
</html>