<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create test</title>
</head>
<body>
<h1>Create Test</h1><hr><br>
<a href="/teacher/multiplechoice/{{ index }}/createtest/uploadquestions/">Upload Questions</a><br><br>
<a href="/teacher/multiplechoice/{{ index }}/createtest/createquestionpaper/">Create Question Paper</a><br><br>
<a href="/teacher/multiplechoice/{{ index }}/createtest/editquestions/">Edit Questions</a><br><br>
<a href="/teacher/multiplechoice/{{ index }}/createtest/editquestionpaper/">Edit Question Paper</a><br><br>
</body>
</html>