<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Question Papers</title>
</head>
<body>
<h1>Edit Question Papers</h1><hr>
<table cellpadding="10">
    <tr><th>Created On</th><th>Question Paper Name</th><th></th></tr>
{% for i in context %}
        <tr>
            <td>{{ i.createdOn }}</td>
            <td>{{ i.qpName }}</td>
            <td><a href="/teacher/multiplechoice/{{ index }}/createtest/editquestionpaper/{{ i.id }}/">Edit</a></td>
        </tr>
{% endfor %}
</table>
</body>
</html>