<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student | Home</title>
</head>
<body>
<h1><center>Student Dashboard</center></h1><hr><br>
<h2>Welcome, {{ context.FirstName }} {{ context.LastName }}</h2>
<h3>Basic Details:</h3>
<table align ="center">
        <tr>
            <th>DOB</th>
            <td>{{ context.DOB }}</td>
        </tr>
        <tr>
            <th>Sex</th>
            <td>{{ context.Sex }}</td>
        </tr>
        <tr>
            <th>Contact</th>
            <td>{{ context.Contact }}</td>
        </tr>
        <tr>
            <th>E-mail</th>
            <td>{{ context.EMail }}</td>
        </tr>
        <tr>
            <th>Blood Group</th>
            <td>{{ context.BloodGroup }}</td>
        </tr>
            <th>Address</th>
            <td>{{ context.AddressLine1 }}, {{ context.AddressLine2 }}, {{ context.AddressLine3 }}</td>
        </tr>
    </table>
<hr>
<table align="center" cellpadding="10">
    <tr>
        <th>Subject</th>
        <th>Aggregate Marks</th>
        <th>Feedback</th>
        <th>Attendance</th>
    </tr>
    {% for i in subjects %}
    <tr>
        <td >
            <a href="/student/{{ context.Index }}/subject/{{ i.Subject.SubjectCode }}">{{ i.Subject.SubjectName }}</a>
        </td>
    </tr>
    {% endfor %}
</table>
</body>
</html>