<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher | Home</title>
    <style>
         table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}
    </style>
</head>
<body>
    <h1><center>Teacher Home</center></h1>
    <table align ="center" cellpadding="10">
        <tr>
            <th>First Name</th>
            <td>{{ context.FirstName }}</td>
            <th>Last Name</th>
            <td>{{ context.LastName }}</td>
            <th>DOB</th>
            <td>{{ context.DOB }}</td>
            <th>Sex</th>
            <td>{{ context.Sex }}</td>
        </tr>
        <tr>
            <th>Contact</th>
            <td>{{ context.Contact }}</td>
            <th>E-mail</th>
            <td>{{ context.EMail }}</td>
            <th>Blood Group</th>
            <td>{{ context.BloodGroup }}</td>
            <th>Address</th>
            <td>{{ context.AddressLine1 }}, {{ context.AddressLine2 }}, {{ context.AddressLine3 }}</td>
        </tr>
    </table>
    <hr>
    <table cellpadding="10">
        <tr>
            <th>Subject</th>
            <th>Class Section</th>
            <th>Duration</th>
            <th>Period</th>
            <th>Weekday</th>
        </tr>
        {% for i in subjects %}
        <tr>
            <td>
                {{ i.Subject.SubjectName }}
            </td>
            <td>
                <a href="/teacher/class/{{ context.Index }}/{{ i.Class.ClassSection }}">{{ i.Class.ClassSection }}</a>
            </td>
            <td>
                {{ i.TTID.StartTime }} - {{ i.TTID.EndTime }}
            </td>
            <td>
                {{ i.TTID.pk }}
            </td>
            <td>
                {{ i.TTID.WeekDay }}
            </td>
        </tr>
        {% endfor %}

    </table>
    <hr>
    <table cellpadding="10" border="2">
        <tr>
            {% for i in classes %}
                <td>
                    <a href="/teacher/assignment/{{ context.Index }}/{{ i.pk }}">{{ i }}</a>
                </td>
            {% endfor %}
        </tr>

    </table>

    <a href="/teacher/multiplechoice/{{ context.Index }}/"><h2>Create Multiple Choice Test</h2></a>
    <a href="/teacher/subjective/{{ context.Index }}/"><h2>Create Subjective Test</h2></a>

</body>
</html>