<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher | Home</title>
    <style>
         table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}
    </style>
</head>
<body>
    <h1><center>Welcome, {{ context.FirstName }}!</center></h1>
    <a href="/teacher/{{ context.Index }}/profile/">Profile</a>
    <a href="">Logout</a>
    <a href="/teacher/{{ context.Index }}/tasklist/">Task List</a>
    <a href="/teacher/{{ context.Index }}/messages/">Messages</a>
    <a href="/teacher/{{ context.Index }}/timetable">Time Table</a>
    <a href="/teacher/{{ context.Index }}/calendar">Calendar</a>
    <a href="/teacher/{{ context.Index }}/topperformers">Top Performers</a>
    <a href="/teacher/{{ context.Index }}/laggards">Laggards</a>
    <br>
    <hr>
    <table cellpadding="10">
        <tr>
            <th>Subject</th>
            <th>Class Section</th>
            <th>Duration</th>
            <th>Period</th>
            <th>Weekday</th>
        </tr>
        {% for i in classes %}
        <tr>
            <td>
                {{ i.Subject.SubjectName }}
            </td>
            <td>
                <a href="/teacher/class/{{ context.Index }}/{{ i.Class.ClassSection }}">{{ i.Class.ClassSection }}</a>
            </td>
            <td>
                {{ i.TTID.StartTime }} - {{ i.TTID.EndTime }}
            </td>
            <td>
                {{ i.TTID.pk }}
            </td>
            <td>
                {{ i.TTID.WeekDay }}
            </td>
        </tr>
        {% endfor %}

    </table>
    <hr>
    <table cellpadding="10" border="2">
        <tr>
            {% for i in classes %}
                <td>
                    <a href="/teacher/assignment/{{ context.Index }}/{{ i.pk }}">{{ i }}</a>
                </td>
            {% endfor %}
        </tr>

    </table>

    <a href="/teacher/multiplechoice/{{ context.Index }}/"><h2>Create Multiple Choice Test</h2></a>
    <a href="/teacher/subjective/{{ context.Index }}/"><h2>Create Subjective Test</h2></a>

</body>
</html>