<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<h1>View Profile</h1>
<h3>Name: {{ context.FirstName }} {{ context.MiddleName }} {{ context.LastName }}</h3>
<h3>EMail: {{ context.EMail }}</h3>
<h3>DOB: {{ context.DOB }}</h3>
<h3>Sex: {{ context.Sex }}</h3>
<h3>Contact: {{ context.Contact }}</h3>
<h3>Blood Group: {{ context.BloodGroup }}</h3>
<h3>Address: {{ context.AddressLine1 }}, {{ context.City }}, {{ context.State }}</h3>
</body>
</html>